* { margin: 0; padding: 0; box-sizing: border-box; }
/*header*/
#yellow-strip {
    background-color: yellow;
}
header {}
#strip {
	background-color: #f8fdff;
	overflow: hidden;
	    padding: 8px;
}
#margin-left-right {
	margin-left: 5%;
	margin-right: 5%;
}
#logo {
	float: left;
	position: relative;
    bottom: 1px;
	font-family: cursive;
	color: #00a8ff;
    font-size: 28px;
}
#menu {
	float: right;
}
#menu:hover a {
    text-decoration-line: underline;
}
#menu a {
	color: #9a9a9a;
    text-decoration: none;
    line-height: 1;
    margin: 20px;
    font-family: Segoe UI Symbol;
    font-size: 19px;
    position: relative;
    top: 7px;
}
#header-image {
	background-image: url(../img/header-img-min.png);
	padding-top: 9%;
	
	 
}
#header-contend {
	    text-align: center;
    padding-top: 1%;
    padding-bottom: 8%;
    height: ;
	
}
#header-contend h2 {
	    font-family: cursive;
    font-size: 50px;
    color: white;
	padding: 42px;
}
#header-contend button {
	    color: #ffffff;
    border: #ffffff 1px solid;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: none;
    border-radius: 5px;
    font-family: arial;
    cursor: pointer;
    transition: all .3s;
}
#header-contend button:hover {
    background: white;
    color: #37b4ee;
}
/*services*/
#m-l-r {
	margin-left: 5%;
	margin-top: 2%;
}
.ser {
	text-align: center;
	font-size: 25px;font-family: calibri;
	
}
.box1 {
	width: 33%;
	float: left;
	text-align: center;
}
.box1 h3 {
    font-size: 25px;
}
.box1 img {
	width: 100%;

}
/*porfolio*/
#image-gallery {
	clear: both;
}

#port {
	text-align: center;
}
#port h1 {
    color: black;
    font-family: arial;
    font-size: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.image-box {
	width:25%;
	float: left;
    position: relative;
}
.image-box img {
	width: 100%;
    margin-bottom: -2%;
}
.image-box:hover .responsive-graph {
    opacity: 1;

}
.responsive-graph {
    transition: opacity 1s;
}
.responsive-graph {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 55%;

}
.responsive-graph h3 {
    font-size: 20pt;
    color: white;
    font-family: calibri;
}
.responsive-graph p {
    font-size: 15pt;
}
#lets {
	clear: both;
}
#Lets-background {
	background-color: #00a8ff;
	background-color: #00a8ff;
    padding-bottom: 17px;
    padding-top: 10px;
}
#lets-margin-left-right {
	    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
h1 {
    color: white;
    font-family: calibri;
    padding-bottom: 16px;
    padding-top: 12px;
    font-size: 48px;
}
p {
    color: white;
    font-family: calibri;
    padding-bottom: 22px;
    font-size: 19px;
}
button:hover {
    background: white;
    color: #37b4ee;
}
button {
	    color: white;
    background: none;
    border: 1px white solid;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}
/*footer*/
#footer-background {
	background-color: #cbcbcb;
}
#footer-margin-left-right {
    margin-left: 8%;
    margin-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
	overflow: hidden;
}
#copy {
    float: left;
    color: white;
    font-family: calibri;
}
#privacy {
    position: relative;
    left: 41%;
    font-size: 18px;
}
#privacy a {
    text-decoration: none;
    color: white;
    padding-right: 3%;
	font-family: calibri;
}
@media only screen and (max-width: 480px ) {
  #strip {
    padding-top: 0%;
    padding-bottom: 2%;
    background-color: #f8fdff;
    overflow: hidden;
}
    #menu a {
    color: #9a9a9a;
    text-decoration: none;
    line-height: 1;
    margin: 5px;
    font-family: Segoe UI Symbol;
    font-size: 16px;
    position: relative;
    top: 16px;
    left: 5%;
}
    #header-contend h2 {
    font-family: cursive;
    font-size: 26px;
    color: white;
    padding-top: 100px;
}
    #header-image {
        padding-top: 31%;
    }
  .box1 {
    width: 70%;
    position: relative;
    left: 12%;
  }
  .box1 h3 {
    font-size: 28px;
    padding-bottom: 10%;
  }
  .image-box {
    width: 100%;
    margin-top: 1%;
    margin-bottom: -1%;
  }
  #port {
    font-size: 42px;
    padding-bottom: 5%;
  }
  .ser h2 {
    position: absolute;
    left: 31%;
    top: 84%;
    font-size: 48px;
  }
  #lets-margin-left-right {
    margin-left: 15%;
    margin-right: 15%;
  }
  h1 {
    color: white;
    font-family: calibri;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 32px;
  }
  p {
    color: white;
    font-family: calibri;
    padding-bottom: 11px;
    font-size: 16px;
  }
  button {
    color: white;
    background: none;
    border: 1px white solid;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
  }
  #footer-margin-left-right {
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 2%;
    padding-bottom: 4%;
  }
  #copy h3 {
     font-size: 12px;
    font-weight: unset;
    line-height: 2;
  }
  #privacy a {
    text-decoration: none;
    color: white;
    padding-right: 1%;
    font-family: calibri;
    font-size: 12px;
}
    #footer-background {
    background-color: #cbcbcb;
    position: relative;
}
    #privacy {
    position: absolute;
    left: 51%;
    top: 29%;
    font-size: 15px;
    text-align: center;
    line-height: 0.8;
}
    #Lets-background {
        padding-top: 0%;
    }
    #contact h1 {
        padding-top: 10px;
    }

}